* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Noto Serif Thai, Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./Images/BgImage.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 40px;
  color:  #2596be;
  ;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 130%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:nth-child(1) {
  background-color: #4caf50;
  color: white;
}

button:nth-child(2) {
  background-color: #ccc;
  color: white;
}
